<!DOCTYPE html>
<html lang="fr" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}UCM - Universal Certificate Manager{% endblock %}</title>
  
  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/core/reset.css">
  <link rel="stylesheet" href="/static/css/core/variables.css">
  <link rel="stylesheet" href="/static/css/core/grid.css">
  <link rel="stylesheet" href="/static/css/core/utilities.css">
  <link rel="stylesheet" href="/static/css/components/button.css">
  <link rel="stylesheet" href="/static/css/components/card.css">
  <link rel="stylesheet" href="/static/css/components/badge.css">
  <link rel="stylesheet" href="/static/css/components/table.css">
  <link rel="stylesheet" href="/static/css/components/form.css">
  <link rel="stylesheet" href="/static/css/components/form-advanced.css">
  <link rel="stylesheet" href="/static/css/components/sidebar.css">
  <link rel="stylesheet" href="/static/css/components/topbar.css">
  <link rel="stylesheet" href="/static/css/components/tabs.css">
  <link rel="stylesheet" href="/static/css/components/modal.css">
  <link rel="stylesheet" href="/static/css/components/loader.css">
  <link rel="stylesheet" href="/static/css/components/pki.css">
  <link rel="stylesheet" href="/static/css/themes/default.css">
  {% block extra_css %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  
  <!-- Core JS -->
  <script src="/static/js/core/api.js"></script>
  <script src="/static/js/core/toast.js"></script>
  <script src="/static/js/core/theme.js"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
